@tailwind base;
@tailwind components;
@tailwind utilities;

#login-bg{
    background: linear-gradient(rgba(42, 58, 74, 0.85), rgba(42, 58, 74, 0.85)), url('../img/image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
};

@layer base{
    .font-outline-2{
        -webkit-text-stroke: 2px;
    }
    .font-outline-4{
        -webkit-text-stroke: 4px;
    }
    .font-outline-black{
        -webkit-text-stroke-color: black;
    }
}

